#!/usr/bin/env bash
set -eu

{{ $fish := print .homebrewPrefix "/bin/fish" }}

{{ if (and .ephemeral (not .homebrew)) }}
{{/* todo: see what .osid looks like and install fish manually */}}
{{   $fish = "/usr/local/bin/fish" }}
{{ end }}

# install fisher
{{ $fish }} -c "curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher"

# install fish plugins
while read -r plugin
do
  fish -c "fisher install $plugin"
done <"$HOME/.config/fish/fishfile"
