#!/usr/bin/env bash
set -eu

# fish is assumed to already be installed and in $PATH

# install fisher
$(which fish) -c "curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher"

# install fish plugins
while read -r plugin
do
  fish -c "fisher install $plugin"
done <"$HOME/.config/fish/fish_plugins"
