set -g fish_greeting
set -x GPG_TTY (tty)
set -x EDITOR hx

set -g fish_user_paths \
    "{{ .homebrewPrefix }}/bin" \
    "{{ .homebrewPrefix }}/sbin" \
    "/usr/local/bin" \
    "/usr/bin" \
    "/bin" \
    "/usr/sbin" \
    "/sbin" \
    "/usr/local/sbin" \
    "$HOME/.cargo/bin" \
    "$HOME/bin" \
    "$HOME/.krew/bin" \
    "$HOME/go/bin" \
    "$fish_user_paths"

eval ({{ .homebrewPrefix }}/bin/brew shellenv)
test -e ~/.asdf/asdf.fish && source ~/.asdf/asdf.fish

{{- if eq .chezmoi.os "linux" }}
alias aws-vault "aws-vault --backend=pass"

# for hx
set -x COLORTERM truecolor
{{- end -}}
