set -x GPG_TTY (tty)
set -x EDITOR hx

set -g fish_user_paths \
    "/usr/local/bin" \
    "/usr/bin" \
    "/bin" \
    "/usr/sbin" \
    "/sbin" \
    "/usr/local/sbin" \
    "$HOME/.cargo/bin" \
    "$HOME/bin" \
    "$HOME/.krew/bin" \
    "$HOME/go/bin" \
    "$fish_user_paths"

{{ if eq .chezmoi.os "darwin" -}}
set -g fish_user_paths \
    "/opt/homebrew/bin" \
    "/opt/homebrew/sbin" \
    "$fish_user_paths"
{{- end -}}

{{ if eq .chezmoi.os "linux" -}}
set -g fish_user_paths \
    "/home/linuxbrew/.linuxbrew/bin/" \
    "/home/linuxbrew/.linuxbrew/sbin/" \
    "$fish_user_paths"
{{- end }}

test -e ~/.asdf/asdf.fish && source ~/.asdf/asdf.fish

{{- if eq .chezmoi.os "linux" }}
eval (/home/linuxbrew/.linuxbrew/bin/brew shellenv)
alias aws-vault "aws-vault --backend=pass"
{{- end -}}
